:root {
    --primary: #b5ccdf;
    --secondary: #509ad7;
    --tertiary: #79a3c8;
    --light-dark: #4b74a5;
    --dark: #425364;
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 252, 234);
    height: 100vh;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
    font-family: "poppins";
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.grid {
    display:flex;
}

.btn {
    display: inline-block;
    border: 1px solid;
}

button, input {
    overflow: visible;
}

.forecast-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: white;
    text-decoration: none;
}

.five-day {
    display:flex;
}

.subtitle {
    display:none;
}

.uv-favorable {
    background-color: lightgreen;
}

.uv-moderate {
    background-color: gold;
}

.uv-severe {
    background-color: red;
}
