:root {
    --primary: #b5ccdf;
    --secondary: #509ad7;
    --tertiary: #79a3c8;
    --light-dark: #4b74a5;
    --dark: #425364;
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 252, 234);
    height: 100vh;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
    font-family: "poppins";
}

/*h2 {
    color: rgb(11, 11, 180);
} */

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}
  
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.btn {
    display: inline-block;
    border: 1px solid;
}

button, input {
    overflow: visible;
}

.weather-card {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
    margin-right: 10px;
    height: 250px;
    line-height: 1.8;
}

.list-group {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: white;
    text-decoration: none;
}

.five-day {
    display:flex;
}

.subtitle {
    display:none;
}

